body {
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
    color: #000000;
    font-family:Verdana,Arial, Helvetica, sans-serif;

}
header{
    height: 110px;
    background:#e6e2ca;
    border-bottom: 1px solid #a39376;
    text-align: center;
    line-height:110px;
}
    header .titulo {
        font-family: Aparajita;
        font-size: 32px;
        font-style:normal;
        font-weight:bold;
        color:#000000;
    }

    header .estado{
        float: right;
    }
nav{
    width:1150px;
    height:80px;
    margin:auto;
    border: 0px solid #a39376;
    background:#e6e2ca;
    border-radius: 8px;
}
.MenuPrincipal{
    float:left;

}
nav .MenuPrincipal li{
    list-style-type:none;
}

.MenuPrincipal > li{
    float:left;
}
.MenuPrincipal li a{
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding: 10px 70px;
    display:block;
    font-size:12px;
}

.MenuPrincipal li a:hover{
    background-color:#434343;

}

.MenuPrincipal li ul{
    display:none;
    position:absolute;
    min-width:140px;
}
.MenuPrincipal li:hover > ul{
    display:block;
}

.MenuPrincipal li ul li{
    position:relative;
}

.MenuPrincipal li ul li{
    left: -40px;
}

section{
    margin: 0 auto;
    width: 1030px;
    text-align: center;
}
    section p{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size:25px;
        font-style:italic;
        color:rgb(207,155,48);
    }


